/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--page body---*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkmagenta;
}
/*--page body---*/

/*----svg style----*/
.svgcomp {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  align-items: center;
  align-content: center;
}
/*----svg style----*/

/*-----------------------------------------------------------------*/
/*----------------game animation classes----------------------*/
/*-----------------------------------------------------------------*/

/*--dish animation class--*/
.dishExec {
  animation: dish 200ms ease-out alternate-reverse;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes dish {
  to {
    transition: none;
    transform: rotate(9deg);
  }
}
/*--dish animation class--*/

/*----chinbal animation class------*/
.hit-hatExec {
  animation: hit-hat 200ms linear;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes hit-hat {
  to {
    transform: rotate(-7deg);
  }
}
/*----chinbal animation class------*/

/*--chinbal pedal animation class----*/
.hit-hat-footExec {
  animation: hit-hat-foot 200ms linear;
  transform-origin: center;
}

@keyframes hit-hat-foot {
  to {
    transform: translate(0, 5px);
  }
}
/*--chinbal pedal animation class----*/

/*---
right animation class---*/
.tom-rightExec {
  animation: tom-right 200ms linear;
}

@keyframes tom-right {
  to {
    transform: rotateY(-8deg) scaleY(0.89) skewY(2.9deg);
  }
}
/*---
right animation class---*/

/*---left tone animation class----*/
.tom-leftExec {
  animation: tom-left 200ms linear;
  transform-origin: center;
}

@keyframes tom-left {
  to {
    transform: rotateY(7deg) scaleY(0.95) skewY(1.5deg);
  }
}
/*---left tone animation class----*/

/*----box animation class-----*/
.boxExec {
  animation: box 200ms linear;
  transform-origin: center;
}

@keyframes box {
  to {
    transform: translateY(1px) scaleY(0.91) skewY(2.5deg);
  }
}
/*----box animation class-----*/

/*---deaf animation class-----*/
.deafExec {
  animation: deaf 200ms linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes deaf {
  to {
    transform: translate(2px, 4px) scaleY(0.94) skew(-1.6deg, 3.2deg);
  }
}
/*---deaf animation class-----*/

/*--bass drum animation class---*/
.bassdrumExec {
  animation: bassdrum 200ms linear;
}

@keyframes bassdrum {
  to {
    transform: translateY(-16px) scaleX(1.001) scaleY(1.03);
  }
}
/*--bass drum animation class---*/

/*---game keys instruction class-----*/
.keys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
/*---game keys instruction class-----*/

/*--class that groups instructions-----*/
.key {
  width: 100px;
  height: 70px;
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.188rem;
  font-weight: bold;
  margin: 0 6px 0 6px;
}
/*--class that groups instructions-----*/

.key.active {
  border: 2px solid #422d5e;
  color: #422d5e;
}

/*-----id of svgdrums main game component----*/
#drum {
  display: flex;
  min-height: 85%;
  margin: 10px 0 40px 0;
}
/*-----id of svgdrums main game component----*/

/*-----style class and instruction key spacing----------*/
.txt {
  font-size: 0.625rem;
  letter-spacing: 0.1rem;
}
/*----style class and instruction key spacing------*/

/*---game recording element class-----*/
.composer {
  width: 22.5rem;
}
.composer #input {
  text-align: center;
  width: 100%;
  outline: none;
  font-size: 1.063rem;
  padding: 10px 15px;
}
.composer button {
  width: 100%;
  height: 40px;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
}
.composer button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
/*---game recording element class---*/

/*----page footer---*/
footer {
  margin: 35px 0 15px 0;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #fff;
  font-size: 13px;
}
/*----page footer--*/

/*---svg creator link---*/
a {
  color: darkslateblue;
}
/*---svg creator link---*/

/*----media query for devices, with screens smaller than 768px----*/
@media (max-width: 768px) {
  .svgcomp {
    flex-direction: column;
    align-content: space-between;
  }
  #drum {
    width: 80%;
    height: auto;
  }
  .keys {
    flex-wrap: wrap;
  }
  .key {
    margin: 10px 30px 10px 30px;
  }
  footer {
    margin: 40px 0 0 0;
  }
}
/*----media query for devices, with screens smaller than 768px----*/

/*----media query for devices, with screens smaller than 425px----*/
@media (max-width: 425px) {
  .svgcomp {
    margin: -20px 0 0 0;
  }
  #drum {
    width: 80%;
    height: auto;
  }
  .key {
    margin: 10px 30px 0 30px;
  }
  .composer {
    width: 18rem;
    margin: -40px 0 20px 0;
  }
}
/*----media query for devices, with screens smaller than 425px----*/

/*----media query for devices, with screens smaller than 375px----*/
@media (max-width: 375px) {
  .svgcomp {
    margin: -60px 0 0 0;
  }
  .composer {
    margin: -60px 0 0 0;
  }
}
/*----media query for devices, with screens smaller than 375px----*/

/*----media query for devices, with screens smaller than 320px----*/
@media (max-width: 320px) {
  .svgcomp {
    margin: -60px 0 0 0;
  }
  .composer {
    margin: -70px 0 0 0;
    width: 16rem;
  }
  footer > div {
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
/*----media query for devices, with screens smaller than 320px----*/
